p>config-setting
{
   font-weight:bold;
   border: 1px solid #FFDEAD;
}

p>spfe-xslt-function
{
   font-weight:bold;
   border: 1px solid #FFDEAD;
}
p>spfe-xslt-template
{
   font-weight:bold;
   border: 1px solid #FFDEAD;
}
p>spfe-build-variable
{
   font-weight:bold;
   border: 1px solid #FFDEAD;
}
p>spfe-build-script
{
   font-weight:bold;
   border: 1px solid #FFDEAD;
}