# Backup files
*~
*.bak
*.log

# Windows image file caches
Thumbs.db 

# Mac OS filesystem
.DS_Store

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Oxygen
*.xpr

#Personal
copyright-notice.txt
spfe-docs/build/log.txt

