<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is part of the SPFE Open Toolkit. See the accompanying license.txt file for applicable licenses.-->
<!-- (c) Copyright Analecta Communications Inc. 2014 All Rights Reserved. -->

<structure xmlns="http://spfeopentoolkit.org/ns/spfe-ot/config"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://spfeopentoolkit.org/ns/spfe-ot/config http://spfeopentoolkit.org/spfe-ot/1.0/schemas/config/spfe-config.xsd">
    <name>annotations.spfe-build</name>
    <scripts>
        <resolve>
            <script>
                <href>scripts/resolve/resolve-spfe-build-annotations.xsl</href>
            </script>
        </resolve>
    </scripts>
</structure>

