<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is part of the SPFE Open Toolkit. See the accompanying license.txt file for applicable licenses.-->
<!-- (c) Copyright Analecta Communications Inc. 2012 All Rights Reserved. -->
<spfe xmlns="http://spfeopentoolkit/ns/spfe-ot/config"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://spfeopentoolkit/ns/spfe-ot/config  http://spfeopentoolkit.org/spfe-ot/1.0/schemas/config/spfe-config.xsd">
    
    <topic-type>
        <name>{http://spfeopentoolkit.org/ns/eppo-simple}think-plan-do-topic</name>
        <aliases>
            <singular>Task</singular>
            <plural>Tasks</plural>
        </aliases>
        <scripts>
            <resolve>
                <script>
                    <href>${SPFEOT_HOME}/1.0/scripts/common/utility-functions.xsl</href>
                </script>
                <script>
                    <href>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/think-plan-do-topic/scripts/resolve/resolve-think-plan-do-topic.xsl</href>
                </script>
            </resolve>
            <link-catalog>
                <script>
                    <href>${SPFEOT_HOME}/1.0/scripts/common/utility-functions.xsl</href>
                </script>
                <script>
                    <href>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/generic-topic/scripts/link-catalog/topic/topic-link-catalog.xsl</href>
                </script>
            </link-catalog>
            <present type="eppo">
                <script>
                    <href>scripts/present/eppo/present-think-plan-do-topic.xsl</href>
                </script>
            </present>
        </scripts>
    </topic-type>
</spfe>
