<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is part of the SPFE Open Toolkit. See the accompanying license.txt file for applicable licenses.-->
<!-- (c) Copyright Analecta Communications Inc. 2012 All Rights Reserved. -->
<spfe xmlns="http://spfeopentoolkit.org/spfe-ot/1.0/schemas/spfe-config"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://spfeopentoolkit.org/spfe-ot/1.0/schemas/spfe-config  http://spfeopentoolkit.org/spfe-ot/1.0/schemas/config/spfe-config.xsd">
    
    <topic-type>
        <xmlns>http://spfeopentoolkit.org/spfe-docs/topic-types/think-plan-do-topic</xmlns>
        <aliases>
            <singular>Task</singular>
            <plural>Tasks</plural>
        </aliases>
        <scripts>
            <synthesis>
                <script>
                    <href>${SPFEOT_HOME}/1.0/scripts/common/utility-functions.xsl</href>
                </script>
                <script>
                    <href>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/common/scripts/synthesis/common-topic-synthesis.xsl</href>
                </script>
                <script>
                    <remap-namespace>
                        <from>http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/topic-types/think-plan-do-topic</from>
                        <to>http://spfeopentoolkit.org/spfe-docs/topic-types/think-plan-do-topic</to>
                    </remap-namespace>
                    <href>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/think-plan-do-topic/scripts/synthesis/think-plan-do-topic-synthesis.xsl</href>
                </script>
                <script>
                    <remap-namespace>
                        <from>http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/topic-types/generic-topic</from>
                        <to>http://spfeopentoolkit.org/spfe-docs/topic-types/think-plan-do-topic</to>
                    </remap-namespace>
                    <href>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/generic-topic/scripts/synthesis/synthesize-text-structures.xsl</href>
                </script>
                <script>
                    <remap-namespace>
                        <from>http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/topic-types/generic-topic</from>
                        <to>http://spfeopentoolkit.org/spfe-docs/topic-types/think-plan-do-topic</to>
                    </remap-namespace>
                    <href>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/generic-topic/scripts/synthesis/subject-affinities.xsl</href>
                </script>
                <script>
                    <remap-namespace>
                        <from>http://spfeopentoolkit.org/spfe-docs/topic-types/generic-topic</from>
                        <to>http://spfeopentoolkit.org/spfe-docs/topic-types/think-plan-do-topic</to>
                    </remap-namespace>
                    <href>../../topic-types/generic-topic/scripts/synthesis/subject-affinities.xsl</href>
                </script>
                <script>
                    <href>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/generic-topic/scripts/synthesis/synthesis-graphic-record.xsl</href>
                </script>
                
                <script>
                    <remap-namespace>
                        <from>http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/topic-types/generic-topic</from>
                        <to>http://spfeopentoolkit.org/spfe-docs/topic-types/think-plan-do-topic</to>
                    </remap-namespace>
                    <href>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/generic-topic/scripts/synthesis/synthesis-fig.xsl</href>
                </script>
                <script>
                    <remap-namespace>
                        <from>http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/topic-types/generic-topic</from>
                        <!-- We remap to generic-topic here because that is what the fragments file is witten in. -->
                        <to>http://spfeopentoolkit.org/spfe-docs/topic-types/generic-topic</to>
                        
                    </remap-namespace>                   
                    <href>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/fragments-file/scripts/synthesis/synthesis-fragments.xsl</href>
                </script>                
                <script>
                    <remap-namespace>
                        <from>http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/topic-types/generic-topic</from>
                        <to>http://spfeopentoolkit.org/spfe-docs/topic-types/docset-home-topic</to>
                    </remap-namespace>                   
                    <href>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/generic-topic/scripts/synthesis/synthesize-strings.xsl</href>
                </script>
                <!-- We include the synthesis-strings file twice with different remappings, because the fragments 
                     file contains strings in the generic topic namespace
                -->
                <script>
                    <remap-namespace>
                        <from>http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/topic-types/generic-topic</from>
                        <to>http://spfeopentoolkit.org/spfe-docs/topic-types/generic-topic</to>
                    </remap-namespace>                   
                    <href>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/generic-topic/scripts/synthesis/synthesize-strings.xsl</href>
                </script>
                <!-- We include the synthsize-text-structures file twice with different remappings, because the fragments 
                     file contains strings in the generic topic namespace
                -->
                <script>
                    <remap-namespace>
                        <from>http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/topic-types/generic-topic</from>
                        <to>http://spfeopentoolkit.org/spfe-docs/topic-types/generic-topic</to>
                    </remap-namespace>
                    <href>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/generic-topic/scripts/synthesis/synthesize-text-structures.xsl</href>
                </script>
            </synthesis>
            <link-catalog>
                <script>
                    <href>${SPFEOT_HOME}/1.0/scripts/common/utility-functions.xsl</href>
                </script>
                <script>
                    <href>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/generic-topic/scripts/link-catalog/topic/topic-link-catalog.xsl</href>
                </script>
            </link-catalog>
            <image-list>
                <script>
                    <href>${SPFEOT_HOME}/1.0/scripts/common/utility-functions.xsl</href>
                </script>
                <script>
                    <href>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/generic-topic/scripts/presentation/get-image-list.xsl</href>
                </script>
            </image-list>
            <presentation type="eppo">
                <script>
                    <href>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/generic-topic/scripts/presentation/present-subject-affinity-functions.xsl</href>
                </script>
                <script>
                    <remap-namespace>
                        <from>http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/topic-types/generic-topic</from>
                        <to>http://spfeopentoolkit.org/spfe-docs/topic-types/think-plan-do-topic</to>
                    </remap-namespace>
                    <href>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/generic-topic/scripts/presentation/present-subject-affinity-templates.xsl</href>
                </script>
                <script>
                    <remap-namespace>
                        <from>http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/topic-types/generic-topic</from>
                        <to>http://spfeopentoolkit.org/spfe-docs/topic-types/think-plan-do-topic</to>
                    </remap-namespace>
                    <href>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/generic-topic/scripts/presentation/present-text-structures.xsl</href>
                </script>
                <script>
                    <href>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/generic-topic/scripts/presentation/present-header-and-footer.xsl</href>
                </script>
                <script>
                    <href>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/common/scripts/presentation/present-topic-set.xsl</href>
                </script>
                <script>
                    <href>${SPFEOT_HOME}/1.0/scripts/common/utility-functions.xsl</href>
                </script>
                <script>
                    <remap-namespace>
                        <from>http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/topic-types/think-plan-do-topic</from>
                        <to>http://spfeopentoolkit.org/spfe-docs/topic-types/think-plan-do-topic</to>
                    </remap-namespace>
                    <href>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/think-plan-do-topic/scripts/presentation/present-think-plan-do-topic.xsl</href>
                </script>
                <script>
                    <remap-namespace>
                        <from>http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/topic-types/generic-topic</from>
                        <to>http://spfeopentoolkit.org/spfe-docs/topic-types/think-plan-do-topic</to>
                    </remap-namespace>
                    <href>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/generic-topic/scripts/presentation/presentation-fig.xsl</href>
                </script>
                <script>
                    <href>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/common/scripts/presentation/present-topic-set-toc.xsl</href>
                </script>
            </presentation>
        </scripts>
    </topic-type>
</spfe>
