<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is part of the SPFE Open Toolkit. See the accompanying license.txt file for applicable licenses.-->
<!-- (c) Copyright Analecta Communications Inc. 2012 All Rights Reserved. -->
<spfe xmlns="http://spfeopentoolkit.org/spfe-ot/1.0/schemas/spfe-config"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://spfeopentoolkit.org/spfe-ot/1.0/schemas/spfe-config  http://spfeopentoolkit.org/spfe-ot/1.0/schemas/config/spfe-config.xsd">

    <topic-type>
        <xmlns>http://spfeopentoolkit.org/spfe-docs/topic-types/generic-topic</xmlns>
        <aliases>
            <singular>Concept</singular>
            <plural>Concepts</plural>
        </aliases>
        <scripts>
            <synthesis>
                <script>${SPFEOT_HOME}/1.0/scripts/common/utility-functions.xsl</script>
                <script>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/shared/scripts/synthesis/common-topic-synthesis.xsl</script>
                <script remap-namespace="http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/topic-types/generic-topic http://spfeopentoolkit.org/spfe-docs/topic-types/generic-topic">${SPFEOT_HOME}/plugins/eppo-simple/topic-types/shared/scripts/synthesis/synthesize-text-structures.xsl</script>
                <script remap-namespace="http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/topic-types/generic-topic http://spfeopentoolkit.org/spfe-docs/topic-types/generic-topic">${SPFEOT_HOME}/plugins/eppo-simple/topic-types/generic-topic/scripts/synthesis/generic-topic-synthesis.xsl</script>
                <script remap-namespace="http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/topic-types/generic-topic http://spfeopentoolkit.org/spfe-docs/topic-types/generic-topic">${SPFEOT_HOME}/plugins/eppo-simple/topic-types/shared/scripts/synthesis/subject-affinities.xsl</script>
                <script>../../topic-types/shared/scripts/synthesis/subject-affinities.xsl</script>
                <script>${SPFEOT_HOME}/plugins/eppo-simple/object-types/graphics/scripts/synthesis/synthesis-fig.xsl</script>
            </synthesis>
            <link-catalog>
                <script>${SPFEOT_HOME}/1.0/scripts/common/utility-functions.xsl</script>
                <script>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/shared/scripts/link-catalog/topic/topic-link-catalog.xsl</script>
            </link-catalog>
            <image-list>
                <script>${SPFEOT_HOME}/1.0/scripts/common/utility-functions.xsl</script>
                <script>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/shared/scripts/presentation/get-image-list.xsl</script>
            </image-list>
            <presentation-web>
                <script remap-namespace="http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/topic-types/generic-topic http://spfeopentoolkit.org/spfe-docs/topic-types/generic-topic">${SPFEOT_HOME}/plugins/eppo-simple/topic-types/generic-topic/scripts/presentation/present-generic-topic.xsl</script>
                <script>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/shared/scripts/presentation/present-topic-set-toc.xsl</script>
                <script>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/shared/scripts/presentation/present-subject-affinity-functions.xsl</script>
                <script remap-namespace="http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/topic-types/generic-topic http://spfeopentoolkit.org/spfe-docs/topic-types/generic-topic">${SPFEOT_HOME}/plugins/eppo-simple/topic-types/shared/scripts/presentation/present-subject-affinity-templates.xsl</script>
                <script remap-namespace="http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/topic-types/generic-topic http://spfeopentoolkit.org/spfe-docs/topic-types/generic-topic">${SPFEOT_HOME}/plugins/eppo-simple/topic-types/shared/scripts/presentation/present-text-structures.xsl</script>
                <script>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/shared/scripts/presentation/present-header-and-footer.xsl</script>
                <script>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/shared/scripts/presentation/present-topic-set.xsl</script>
                <script>${SPFEOT_HOME}/1.0/scripts/common/utility-functions.xsl</script>
            </presentation-web>
            <toc>
                <script>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/shared/scripts/toc/toc.xsl</script>
                <script>${SPFEOT_HOME}/1.0/scripts/common/utility-functions.xsl</script>
            </toc>
        </scripts>
    </topic-type>
</spfe>
