<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is part of the SPFE Open Toolkit. See the accompanying license.txt file for applicable licenses.-->
<!-- (c) Copyright Analecta Communications Inc. 2014 All Rights Reserved. -->
<spfe xmlns="http://spfeopentoolkit/ns/spfe-ot/config"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://spfeopentoolkit/ns/spfe-ot/config  http://spfeopentoolkit.org/spfe-ot/1.0/schemas/config/spfe-config.xsd">
    <structures>
        <name>eppo-core</name>
        <structure>
            <name>common</name>
            <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/common/config.xml</href>
        </structure> 
        <structure>
            <name>topic-set</name>
            <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/topic-set/config.xml</href>
        </structure>
        <structure>
            <name>lists.ol-ul-ll</name>
            <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/lists/ol-ul-ll/config.xml</href>
        </structure>
        <structure>
            <name>paragraphs</name>
            <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/paragraphs/config.xml</href>
        </structure>
        <structure>
            <name>fig</name>
            <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/fig/config.xml</href>
        </structure>
        <structure>
            <name>graphic</name>
            <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/graphic/config.xml</href>
        </structure>
        <structure>
            <name>strings</name>
            <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/strings/config.xml</href>
        </structure>
        <structure>
            <name>fragments</name>
            <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/fragments/config.xml</href>
        </structure>
        <structure>
            <name>object-ref</name>
            <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/object-ref/config.xml</href>
        </structure>
        <structure>
            <name>annotations.common-names</name>
            <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/annotations/common-subjects/config.xml</href>
        </structure>
        <structure>
            <name>annotations.common-subjects</name>
            <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/annotations/common-names/config.xml</href>
        </structure>
        <structure>
            <name>annotations.common-addresses</name>
            <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/annotations/common-addresses/config.xml</href>
        </structure>
        <!-- FIXME: XML and XSLT are not core structures. Move. -->
        <structure>
            <name>annotations-xml</name>
            <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/annotations/xml/config.xml</href>
        </structure>
        <structure>
            <name>annotations-xslt</name>
            <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/annotations/xslt/config.xml</href>
        </structure> 
        <structure>
            <name>text-decoration</name>
            <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/text-decoration/config.xml</href>
        </structure> 
        <structure>
            <name>codeblock</name>
            <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/codeblock/config.xml</href>
        </structure> 
        <structure>
            <name>headings.subhead</name>
            <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/headings/subhead/config.xml</href>
        </structure> 
        <structure>
            <name>headings.title</name>
            <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/headings/title/config.xml</href>
        </structure> 
        <structure>
            <name>conditions</name>
            <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/conditions/config.xml</href>
        </structure> 
        <structure>
            <name>identity</name>
            <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/identity/config.xml</href>
        </structure> 
        <structure>
            <name>index</name>
            <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/index/config.xml</href>
        </structure> 
        <structure>
            <name>tracking</name>
            <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/tracking/config.xml</href>
        </structure> 
        <structure>
            <name>table-basic</name>
            <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/table-basic/config.xml</href>
        </structure> 
        <structure>
            <name>admonitions.note-caution-warning</name>
            <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/admonitions/note-caution-warning/config.xml</href>
        </structure>
        <structure>
            <name>comments</name>
            <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/comments/author-reviewer/config.xml</href>
        </structure>
        <structure>
            <name>labeled-item</name>
            <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/labeled-item/config.xml</href>
        </structure>
        <structure>
            <name>procedures.procedure</name>
            <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/procedures/procedure/config.xml</href>
        </structure>
        <structure>
            <name>procedures.instructions</name>
            <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/procedures/instructions/config.xml</href>
        </structure>
        <structure>
            <name>q-and-a</name>
            <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/q-and-a/config.xml</href>
        </structure>
        <structure>
            <name>terminal-session</name>
            <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/terminal-session/config.xml</href>
        </structure>
        <structure>
            <name>body</name>
            <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/body/config.xml</href>
        </structure>
    </structures>
</spfe>
