<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is part of the SPFE Open Toolkit. See the accompanying license.txt file for applicable licenses.-->
<!-- (c) Copyright Analecta Communications Inc. 2014 All Rights Reserved. -->
<spfe xmlns="http://spfeopentoolkit/ns/spfe-ot/config"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://spfeopentoolkit/ns/spfe-ot/config  http://spfeopentoolkit.org/spfe-ot/1.0/schemas/config/spfe-config.xsd">
    
    <text-object-type>
        <name>{http://spfeopentoolkit.org/ns/eppo-simple/text-objects}if-then-table-object</name>
        <structures>
            <structure>
                <name>eppo-core</name>
                <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/eppo-core/config.xml</href>
                <remap-namespace>
                    <from>http://spfeopentoolkit.org/ns/eppo-simple</from>
                    <to>http://spfeopentoolkit.org/ns/spfe-docs/text-objects</to>
                </remap-namespace>  
            </structure>
            <structure>
                <name>graphic-record</name>
                <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/graphic-record/config.xml</href>
            </structure>
            
        </structures>
        <scripts>
            <extract>
                <script>
                    <href>${SPFEOT_HOME}/plugins/eppo-simple/text-object-types/if-then-table/scripts/extract/extract-if-then-table-object.xsl</href>
                </script>
            </extract>
            <resolve>
                <script>
                    <href>${SPFEOT_HOME}/1.0/scripts/common/utility-functions.xsl</href>
                </script>
                <script>
                    <href>${SPFEOT_HOME}/plugins/eppo-simple/text-object-types/common/scripts/resolve/resolve-text-object.xsl</href>
                </script>
                <script>
                    <remap-namespace>
                        <from>http://spfeopentoolkit.org/ns/eppo-simple/text-objects</from>
                        <to>http://spfeopentoolkit.org/ns/spfe-docs/text-objects</to>
                    </remap-namespace>  
                    <href>${SPFEOT_HOME}/plugins/eppo-simple/text-object-types/if-then-table/scripts/resolve/resolve-if-then-table-object.xsl</href>
                </script>
            </resolve>
            <presentation type="eppo">
                <script>
                    <remap-namespace>
                        <from>http://spfeopentoolkit.org/ns/eppo-simple</from>
                        <to>http://spfeopentoolkit.org/ns/spfe-docs/text-objects</to>
                    </remap-namespace>  
                    <href>${SPFEOT_HOME}/plugins/eppo-simple/text-object-types/table-basic/scripts/presentation/eppo/present-eppo-if-then-table-object.xsl</href>
                </script>
            </presentation>
        </scripts>
    </text-object-type>
</spfe>
