<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is part of the SPFE Open Toolkit. See the accompanying license.txt file for applicable licenses.-->
<!-- (c) Copyright Analecta Communications Inc. 2014 All Rights Reserved. -->
<spfe xmlns="http://spfeopentoolkit/ns/spfe-ot/config"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://spfeopentoolkit/ns/spfe-ot/config  http://spfeopentoolkit.org/spfe-ot/1.0/schemas/config/spfe-config.xsd">
    <structure>
        <name>admonitions.note-caution-warning</name>
        <scripts>
            <resolve>
                <script>
                    <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/admonitions/note-caution-warning/scripts/resolve/resolve-note-caution-warning.xsl</href>
                </script>
                <script>
                    <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/admonitions/note/scripts/resolve/resolve-note-admonition.xsl</href>
                </script>
            </resolve>
            <present type="eppo">
                <script>
                    <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/admonitions/general/scripts/present/eppo/present-eppo-admonitions.xsl</href>
                </script>
            </present>
            <format type="xhtml">
                <script>
                    <href>${SPFEOT_HOME}/plugins/eppo-simple/structures/admonitions/general/scripts/format/xhtml/format-admonitions-xhtml.xsl</href>
                </script>
            </format>
        </scripts>
    </structure>
</spfe>
