<?xml version="1.0" encoding="UTF-8"?>
<spfe xmlns="http://spfeopentoolkit.org/spfe-ot/1.0/schemas/spfe-config"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://spfeopentoolkit.org/spfe-ot/1.0/schemas/spfe-config http://spfeopentoolkit.org/spfe-ot/1.0/schemas/config/spfe-config.xsd">
    <topic-type>
        <xmlns>http://spfeopentoolkit.org/spfe-docs/topic-types/function-and-template-reference/schemas/xslt-function-and-template-descriptions</xmlns>

        <scripts>
            <extract>
                <script>${SPFEOT_HOME}/1.0/scripts/common/utility-functions.xsl</script>
                <script>../../topic-types/function-and-template-reference/scripts/extract/xsl-function-ref-get-function-defs.xsl</script>
            </extract>
            <synthesis>
                <script>${SPFEOT_HOME}/1.0/scripts/common/utility-functions.xsl</script>
                <script>../../topic-types/function-and-template-reference/scripts/synthesis/synthesize-xsl-function-ref.xsl</script>
                <script remap-namespace="http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple http://spfeopentoolkit.org/spfe-docs/topic-types/generic-topic">${SPFEOT_HOME}/plugins/eppo-simple/topic-types/shared/scripts/synthesis/synthesize-text-structures.xsl</script>
                <script>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/shared/scripts/synthesis/subject-affinities.xsl</script>
                <script>../../topic-types/shared/scripts/synthesis/subject-affinities.xsl</script>
                <script>${SPFEOT_HOME}/plugins/eppo-simple/object-types/graphics/scripts/synthesis/synthesis-fig.xsl</script>
            </synthesis>
            <link-catalog>
                <script>${SPFEOT_HOME}/1.0/scripts/common/utility-functions.xsl</script>
                <script>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/shared/scripts/link-catalog/topic/topic-link-catalog.xsl</script>
            </link-catalog>
            <image-list>
                <script>${SPFEOT_HOME}/1.0/scripts/common/utility-functions.xsl</script>
                <script>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/shared/scripts/presentation/get-image-list.xsl</script>
            </image-list>
        </scripts>
    </topic-type>
    <topic-type>
        <xmlns>http://spfeopentoolkit.org/spfe-docs/topic-types/function-reference</xmlns>
        <aliases>
            <singular>SPFE function</singular>
            <plural>SPFE functions</plural>
        </aliases>
        <scripts>
            <presentation-web>
                <script>../../topic-types/function-and-template-reference/scripts/presentation/present-function-ref.xsl</script>
                <script>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/shared/scripts/presentation/present-topic-set-toc.xsl</script>
                <script>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/shared/scripts/presentation/present-references.xsl</script>
                <script remap-namespace="http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple http://spfeopentoolkit.org/spfe-docs/topic-types/generic-topic">${SPFEOT_HOME}/plugins/eppo-simple/topic-types/shared/scripts/presentation/present-text-structures.xsl</script>
                <script>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/shared/scripts/presentation/present-header-and-footer.xsl</script>
                <script>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/shared/scripts/presentation/present-topic-set.xsl</script>
                <script>${SPFEOT_HOME}/1.0/scripts/common/utility-functions.xsl</script>
            </presentation-web>
            <toc>
                <script>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/shared/scripts/toc/toc.xsl</script>
                <script>${SPFEOT_HOME}/1.0/scripts/common/utility-functions.xsl</script>
            </toc>
        </scripts>
    </topic-type>
    <topic-type>
        <xmlns>http://spfeopentoolkit.org/spfe-docs/topic-types/template-reference</xmlns>
        <aliases>
            <singular>SPFE template</singular>
            <plural>SPFE templates</plural>
        </aliases>
        <scripts>
            <presentation-web>
                <script>../../topic-types/function-and-template-reference/scripts/presentation/present-function-ref.xsl</script>
                <script>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/shared/scripts/presentation/present-topic-set-toc.xsl</script>
                <script>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/shared/scripts/presentation/present-references.xsl</script>
                <script>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/shared/scripts/presentation/present-text-structures.xsl</script>
                <script>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/shared/scripts/presentation/present-header-and-footer.xsl</script>
                <script>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/shared/scripts/presentation/present-topic-set.xsl</script>
                <script>${SPFEOT_HOME}/1.0/scripts/common/utility-functions.xsl</script>
            </presentation-web>
            <toc>
                <script>${SPFEOT_HOME}/plugins/eppo-simple/topic-types/shared/scripts/toc/toc.xsl</script>
                <script>${SPFEOT_HOME}/1.0/scripts/common/utility-functions.xsl</script>
            </toc>
        </scripts>
    </topic-type>
</spfe>
